<div class="card card-border border-base-300 bg-base-200">
    <div class="card-body">
        <div class="skeleton h-5 w-36 mb-2"></div>
        <div class="flex flex-col gap-2">
            <div class="flex justify-between items-center">
                <div class="skeleton h-4 w-16"></div>
                <div class="skeleton h-4 w-20"></div>
            </div>
            <div class="flex justify-between items-center">
                <div class="skeleton h-4 w-16"></div>
                <div class="skeleton h-4 w-20"></div>
            </div>
            <div class="divider my-0"></div>
            <div class="flex justify-between items-center">
                <div class="skeleton h-4 w-8"></div>
                <div class="skeleton h-4 w-20"></div>
            </div>
        </div>
    </div>
</div>