{% load ui_tags %}
<div class="overflow-x-auto">
    <table class="table border-base-300 bg-base-200 border">
        <thead>
        <tr>
            <th>
                <label>
                    <input type="checkbox" class="checkbox"/>
                </label>
            </th>
            <th class="text-center">Transaction</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {# todo add a month section and filter view by month #}
        {% for transaction in transactions %}
            {% tx_table_field transaction %}
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th class="text-center">Transaction</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</div>

